#result {
    height: 600 px;
    width: 800 px;
    background-color: bisque;
}
#bu{
    height : 100px;
    width: 400px;
    background-color: blueviolet;
    position: absolute;
    right: auto;
    font-size: medium;
    font-family: cursive;

}
#press {
    height: 50px;
    width: 100px;
    position: absolute;
    left: 600px;
}
#clear{
    height: 50px;
    width: 100px;
    position: absolute;
    left: 500px;
}
#ll {
    background-color: brown;
    position: relative;
    right: auto;
    left: auto;
    top : 700 px;
    
}
#rrr{
    background-color: chartreuse;
    position: relative;
    top: 40px;
}
#tt {
    background-color: chartreuse;
    position: relative;
    top: 40px;
    
}